# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Node/JS (if used)
node_modules/
dist/
build/

# Python (if used)
__pycache__/
*.pyc
.venv/

# Env files
.env
.env.*

# Logs
*.log
